## *Import Library*

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics
from scipy.stats import shapiro

# Sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Statmodels
import statsmodels
import statsmodels.api as sm

In [30]:
df = pd.read_csv('Data_wine_aroma.csv')
df.head(10)

,Cd,Mo,Mn,Ni,Cu,Al,Ba,Cr,Sr,Pb,B,Mg,Si,Na,Ca,P,K,Aroma
0,0.005,0.044,1.51,0.122,0.830,0.982,0.387,0.029,1.230,0.561,2.63,128.0,17.30,66.8,80.5,150.0,1130,3.3
1,0.050,0.106,1.25,0.114,0.055,1.270,0.275,0.019,1.050,0.491,6.56,172.0,18.70,15.7,112.0,137.0,1290,4.6
2,0.056,0.146,1.10,0.088,0.643,1.290,0.308,0.035,1.140,0.730,3.05,127.0,15.80,35.4,91.0,161.0,1160,3.9
3,0.077,0.261,1.65,0.073,0.285,0.596,0.078,0.063,0.156,1.020,5.04,94.6,6.34,10.4,54.9,132.0,899,7.1
4,0.011,0.363,1.38,0.160,0.051,1.320,0.380,0.059,1.130,1.730,3.07,138.0,16.70,76.6,84.6,164.0,1090,5.6
5,0.034,0.050,1.15,0.058,0.058,1.350,0.294,0.006,1.120,0.206,2.71,120.0,14.70,68.1,64.8,133.0,1050,4.6
6,0.025,0.479,1.07,0.168,0.753,0.715,0.164,0.062,0.823,2.060,4.57,179.0,17.80,98.5,122.0,184.0,1170,4.8
7,0.067,0.166,1.53,0.041,0.043,0.512,0.132,0.026,0.229,0.699,7.27,107.0,6.00,55.2,44.9,148.0,854,7.7
8,0.061,0.245,1.61,0.070,0.172,2.070,0.071,0.053,0.186,1.190,4.42,87.6,7.62,11.6,70.6,156.0,820,5.5
9,0.033,0.074,1.28,0.098,0.053,1.350,0.329,0.030,1.070,0.552,3.30,140.0,16.30,70.5,74.7,159.0,1100,4.3

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cd      41 non-null     float64
 1   Mo      41 non-null     float64
 2   Mn      41 non-null     float64
 3   Ni      41 non-null     float64
 4   Cu      41 non-null     float64
 5   Al      41 non-null     float64
 6   Ba      41 non-null     float64
 7   Cr      41 non-null     float64
 8   Sr      41 non-null     float64
 9   Pb      41 non-null     float64
 10  B       41 non-null     float64
 11  Mg      41 non-null     float64
 12  Si      41 non-null     float64
 13  Na      41 non-null     float64
 14  Ca      41 non-null     float64
 15  P       41 non-null     float64
 16  K       41 non-null     int64
 17  Aroma   41 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 5.9 KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Cd,41.0,0.053805,0.023502,0.005,0.039,0.058,0.067,0.106
Mo,41.0,0.177366,0.095534,0.009,0.126,0.166,0.234,0.479
Mn,41.0,1.646220,0.601835,0.906,1.250,1.610,1.760,4.080
Ni,41.0,0.102024,0.082417,0.041,0.061,0.073,0.112,0.466
Cu,41.0,0.170610,0.188871,0.038,0.058,0.099,0.171,0.830
Al,41.0,0.925317,0.470496,0.308,0.596,0.811,1.210,2.070
Ba,41.0,0.216293,0.106508,0.070,0.105,0.225,0.299,0.408
Cr,41.0,0.042390,0.018888,0.006,0.028,0.038,0.053,0.100
Sr,41.0,0.800512,0.445945,0.156,0.360,0.898,1.120,2.140
Pb,41.0,0.864146,0.458837,0.025,0.561,0.777,1.190,2.060
B,41.0,4.820000,1.614542,2.000,3.370,4.570,6.210,8.110
Mg,41.0,124.107317,29.912200,75.900,99.300,125.000,143.000,199.000
Si,41.0,14.318537,8.603771,4.570,7.620,13.400,17.800,43.600
Na,41.0,39.013659,29.603790,7.250,12.500,35.400,55.200,125.000
Ca,41.0,76.502439,18.622882,44.900,64.400,70.600,85.900,128.000
P,41.0,153.817073,28.261369,81.900,133.000,156.000,172.000,218.000
K,41.0,1099.536585,193.709589,810.000,976.000,1090.000,1200.000,1810.000
Aroma,41.0,4.924390,1.023177,3.300,4.300,5.000,5.500,7.700

In [ ]:
## *Missing Values*

In [8]:
df.isna().sum()

Cd       0
Mo       0
Mn       0
Ni       0
Cu       0
Al       0
Ba       0
Cr       0
Sr       0
Pb       0
B        0
Mg       0
Si       0
Na       0
Ca       0
P        0
K        0
Aroma    0
dtype: int64

In [ ]:
## *Cek Duplikat Data*

In [9]:
duplicate = df[df.duplicated()]
duplicate

,Cd,Mo,Mn,Ni,Cu,Al,Ba,Cr,Sr,Pb,B,Mg,Si,Na,Ca,P,K,Aroma
20,0.061,0.245,1.61,0.070,0.172,2.070,0.071,0.053,0.186,1.19,4.42,87.6,7.62,11.6,70.6,156.0,820,5.5
33,0.065,0.211,1.65,0.102,0.055,0.308,0.206,0.028,0.720,1.02,6.12,99.3,27.10,20.5,95.2,194.0,1260,5.1
37,0.039,0.071,1.19,0.043,0.163,0.971,0.105,0.028,0.491,0.31,6.56,103.0,9.47,45.3,67.9,133.0,1090,5.1

In [15]:
# Cek ukuran data apakah duplicate sudah terhapus
df.shape

(41, 18)

In [22]:
df.columns

Index(['Cd', 'Mo', 'Mn', 'Ni', 'Cu', 'Al', 'Ba', 'Cr', 'Sr', 'Pb', 'B', 'Mg',
       'Si', 'Na', 'Ca', 'P', 'K', 'Aroma'],
      dtype='object')

In [23]:
x = df.drop(columns='Aroma')
y = df['Aroma']

In [13]:
from sklearn.metrics import mean_squared_error, r2_score

In [14]:
lr = LinearRegression()
lr.fit(x,y)
y_hat = lr.predict(x)
print('MSE :', mean_squared_error(y, y_hat))
print('R-square :', r2_score(y, y_hat))

MSE : 0.16607533836114344
R-square : 0.8373972603034061

In [24]:
df.shape

(41, 18)

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [17]:
x_train.shape, x_test.shape

((32, 17), (9, 17))

In [25]:
lr.fit(x_train, y_train)
y_hat = lr.predict(x_test)
print('MSE :', mean_squared_error(y_test, y_hat))
print('R-square :', r2_score(y_test, y_hat))

MSE : 0.7278396191563388
R-square : 0.3805945665931557

In [26]:
df.nunique()

Cd       33
Mo       35
Mn       30
Ni       33
Cu       33
Al       37
Ba       36
Cr       31
Sr       36
Pb       34
B        35
Mg       35
Si       33
Na       36
Ca       37
P        34
K        33
Aroma    25
dtype: int64

# DATA HOUSE PRICE

In [31]:
data = pd.read_csv('house_prices.csv')
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [35]:
data.isna().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [38]:
kategorikal = data.select_dtypes(include='object').columns
kategorikal

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

In [40]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in kategorikal:
  data[i] = le.fit_transform(data[i])

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   int32
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   int32
 6   Alley          1460 non-null   int32
 7   LotShape       1460 non-null   int32
 8   LandContour    1460 non-null   int32
 9   Utilities      1460 non-null   int32
 10  LotConfig      1460 non-null   int32
 11  LandSlope      1460 non-null   int32
 12  Neighborhood   1460 non-null   int32
 13  Condition1     1460 non-null   int32
 14  Condition2     1460 non-null   int32
 15  BldgType       1460 non-null   int32
 16  HouseStyle     1460 non-null   int32
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   int32
 22  RoofMatl       1460 non-null   int32
 23  Exterior1st    1460 non-null   int32
 24  Exterior2nd    1460 non-null   int32
 25  MasVnrType     1460 non-null   int32
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   int32
 28  ExterCond      1460 non-null   int32
 29  Foundation     1460 non-null   int32
 30  BsmtQual       1460 non-null   int32
 31  BsmtCond       1460 non-null   int32
 32  BsmtExposure   1460 non-null   int32
 33  BsmtFinType1   1460 non-null   int32
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1460 non-null   int32
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   int32
 40  HeatingQC      1460 non-null   int32
 41  CentralAir     1460 non-null   int32
 42  Electrical     1460 non-null   int32
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   int32
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   int32
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    1460 non-null   int32
 58  GarageType     1460 non-null   int32
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1460 non-null   int32
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1460 non-null   int32
 64  GarageCond     1460 non-null   int32
 65  PavedDrive     1460 non-null   int32
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         1460 non-null   int32
 73  Fence          1460 non-null   int32
 74  MiscFeature    1460 non-null   int32
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   int32
 79  SaleCondition  1460 non-null   int32
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int32(43), int64(35)
memory usage: 678.8 KB

In [42]:
data.nunique()

Id               1460
MSSubClass         15
MSZoning            5
LotFrontage       110
LotArea          1073
                 ...
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 81, dtype: int64